.product-container {
    margin: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
}

.product-container img {
    width: 50%;
    border-radius: 10px;
    margin-right: 25px;
}

.product-container p {
    text-align: justify;
}

.review-container {
    text-align: center;
    margin-bottom: 50px;
}

.review-container h2 {
    margin-bottom: 0;
}

.home-btn {
    background-color: rgba(140, 47, 140, 0.8);
    color: white;
    font-weight: 600;
    padding: 3px 15px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}

.home-btn-2 {
    background-color: rgba(140, 47, 140, 0.8);
    color: white;
    font-weight: 600;
    padding: 3px 15px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}

.home-btn:hover {
    background-color: white;
    color: black;
    font-weight: 700;
    padding: 3px 15px;
    border: 3px solid rgba(140, 47, 140, 0.8);
    border-radius: 10px;
}

.title-text-1 {
    color: rgba(31, 186, 181, 0.7);
    font-weight: 700;
    font-size: 40px;
}

.title-text-2 {
    color: rgba(255, 218, 55, 0.9);
    font-weight: 700;
    font-size: 35px;
}

.details p {
    margin-bottom: 20px;
    font-size: 20px;
}